# Comments

In [122]:
#single line comments
'''
Multi line comments
'''

'\nMulti line comments\n'

# Keywords
Keywords are the reserved words in Python and can't be used as an identifier

In [124]:
import keyword
# List all Python Keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Statements
Instructions that a Python interpreter can execute

In [126]:
# Single line statement

a = 2 + 3

In [127]:
# Multi line statement

a = 20 + 30 \
    + 50 + 343 \
    + 44 + 99
a

586

# Various data types in Python

## Numbers

In [130]:
1+1

2

In [131]:
4*5

20

In [132]:
10/2

5.0

In [133]:
10%2

0

In [134]:
3-2.7

0.2999999999999998

In [135]:
round(3-2.7,2)

0.3

In [136]:
a=2/3

In [137]:
round(a,2)

0.67

In [138]:
#10 to the power of2
10**2

100

In [139]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [140]:
#type is an inbuilt function to check the data type of any value
type(1)

int

In [141]:
type(True)

bool

In [142]:
type("Hello")

str

## Strings

Strings are arrays of bytes representing Unicode characters.

Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

Indexing allows negative address references to access the characters from the back of the string

-1 : last character

While accessing an index out of the range will cause an IndexError. 

Only Integers are allowed to be passed as an index, float or other types that will cause a TypeError.

In [213]:
# Single quote
string = 'Welcome'
print("String with the use of single quotes : ", end = " ")
print(string)

# Double quote
string = "Welcome"
print("String with the use of double quotes : ", end = " ")
print(string)

# Triple quote
string = '''I'm a Geek and I live in a world of Geek's '''
print("String using triple quotes : ", end = " ")
print(string)

String with the use of single quotes :  Welcome
String with the use of double quotes :  Welcome
String using triple quotes :  I'm a Geek and I live in a world of Geek's

In [215]:
type('Hello')

str

In [216]:
text='ice cream'

In [218]:
text[1]

'c'

In [219]:
text[0]='g'

TypeError: 'str' object does not support item assignment

In [221]:
s='Total states'
n=24

In [223]:
s+n

TypeError: can only concatenate str (not "int") to str

In [225]:
s='Total states'
n=24
print(s + ' ' + str(n))

TypeError: 'str' object is not callable

### String Slicing

In [228]:
s1 = "Learning Python"

In [230]:
s1[0:8]

'Learning'

In [232]:
s1[9:15]

'Python'

In [234]:
s1[-1]

'n'

In [235]:
# Retrieve last six characters from the string
s1[-6:]

'Python'

In [237]:
# Retrieve first six characters from the string
s1[:6]

'Learni'

### Update and Delete String

Updation or deletion of characters from a String is not allowed. 

This will cause an error because item assignment or item deletion from a String is not supported. 

This is because **Strings are immutable,** hence elements of a String cannot be changed once it has been assigned.

In [360]:
s1

'Hello'

In [361]:
# Strings are immuatable which means elements of a string can't be changed once they are created
s1[9:15] = 'Java'

TypeError: 'str' object does not support item assignment

In [364]:
s1 = "Hello"
del s1
print(s1)

NameError: name 's1' is not defined

### String Concatenation

In [367]:
s1 = "Hello"
s2 = "World"
s3 = s1 + s2
print(s3)

HelloWorld

In [250]:
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

Hello World

In [373]:
sentence = "This  is   a sentence    with multiple    spaces."
words_list = sentence.split()
print(words_list)

single_spaced_sentence = ' '.join(words_list) # notice there is a space between ''. if there is no space then it will join without space
print(single_spaced_sentence)

['This', 'is', 'a', 'sentence', 'with', 'multiple', 'spaces.']
This is a sentence with multiple spaces.

### Iterating through a String

In [253]:
str = "abcd"

In [255]:
for s in str:
    print(s)

a
b
c
d

In [256]:
for s in enumerate(str):
    print(s)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [258]:
list(enumerate(str))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [261]:
str = "Hello World"
print("Hello" in str)

True

### String partitioning

In [264]:
# Searches for the first occurence in specified string and split into parts using that 
str = "Salt and Sugar and Pepper"
print(str.partition("and"))

('Salt ', 'and', ' Sugar and Pepper')

In [266]:
str = "Salt and Sugar and Pepper"
print(str.rpartition("and"))

('Salt and Sugar ', 'and', ' Pepper')

### String Functions

In [270]:
str = "          Hello World           "

In [271]:
# Remove white spaces from beginning and end
str.strip()

'Hello World'

In [273]:
# Remove all white spaces from the end
str.rstrip()

'          Hello World'

In [275]:
# Remove all white spaces from the beginnning
str.lstrip()

'Hello World           '

In [277]:
str = "^^^^^^^^^^^^^^^^^^^^Hello World^^^^^^^^^^^^^"

In [278]:
str.strip('^')

'Hello World'

In [280]:
str.rstrip('^')

'^^^^^^^^^^^^^^^^^^^^Hello World'

In [283]:
str.lstrip('^')

'Hello World^^^^^^^^^^^^^'

In [285]:
str = "Hello World"

In [286]:
str.lower()

'hello world'

In [288]:
str.upper()

'HELLO WORLD'

In [291]:
str.replace("World", "Everyone")

'Hello Everyone'

In [293]:
str.replace(" ", "")

'HelloWorld'

In [294]:
str = "Hello Hello Hellow everyone Hello"

In [296]:
str.count("Hello")

4

In [299]:
str.startswith("Hello")

True

In [301]:
str.endswith("Hello")

True

In [302]:
str.endswith("Hell")

False

In [304]:
string_list = str.split()
print(string_list)

['Hello', 'Hello', 'Hellow', 'everyone', 'Hello']

In [352]:
### String formatting

In [307]:
# Positional Formatting
# Example of positional formatting
fruit = "apple"
quantity = 5
price_per_unit = 0.42

message = "We bought {} {}s at ${} each."
print(message.format(quantity, fruit, price_per_unit))

We bought 5 apples at $0.42 each.

In [309]:
# Indexed Positional formatting
# Example of indexed positional formatting
fruit = "orange"
quantity = 10
price_per_unit = 0.55

message = "Total cost: ${2}. Bought {0} {1}s at ${2} each."
print(message.format(quantity, fruit, price_per_unit))

Total cost: $0.55. Bought 10 oranges at $0.55 each.

In [310]:
# Using named placeholders
# Named placeholders with format method
total_sales = 12000
profit = 4500
region = "West"

report = "In the {region} region, total sales were ${sales} with a profit of ${profit}."
print(report.format(region=region, sales=total_sales, profit=profit))

In the West region, total sales were $12000 with a profit of $4500.

In [354]:
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)
 
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)
 
# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

In [312]:
# Find the location of word
str = "one two three four five six seven"
str.find("five")

19

In [315]:
# Find the location of word
str = "one two three four five six seven five"
str.rfind("five")

34

In [317]:
# Find the location of word
str = "one two three four five six seven"
str.index("five")

19

In [319]:
# Find the location of word
str = "one two three four five six seven five"
str.rindex("five")

34

In [320]:
str = '123456789'

# returns True if all the characters in the text are letters
print(str.isalpha()) 

# returns True if a string contains only letters or numbers
print(str.isalnum()) 

# returns True if all the characters are decimals (0-9)
print(str.isdecimal()) 

# returns True if all the characters are numeric (0-9)st
print(str.isnumeric())

False
True
True
True

In [323]:
str = "abcdffddaf"
print(str.isalnum())

True

In [325]:
str = "AHKJHKHL"
print(str.isupper())
print(str.islower())

True
False

### Escape Sequence

While printing Strings with single and double quotes in it causes **SyntaxError** because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. 

Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print such Strings.

**Escape sequences start with a backslash and can be interpreted differently.** 

If single quotes are used to represent a string, then all the single quotes present in the string must be escaped and same is done for Double Quotes.

In [328]:
# Escape sequence
str = "The use of \"The\""
print(str)

The use of "The"

In [330]:
# To ignore the escape sequences in a String, r or R is used, this implies 
#that the string is a raw string and escape sequences inside it are to be ignored.

In [332]:
# Printing Geeks in HEX
String1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ")
print(String1)
 
# Using raw String to
# ignore Escape Sequences
String1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ")
print(String1)

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

In [358]:
# The ord function returns an integer representing the Unicode code point 
#of the given Unicode character.

# Single Unicode character
character = 'A'
# Getting the Unicode code point of the character
code_point = ord(character)

print(f"The Unicode code point of '{character}' is: {code_point}")

The Unicode code point of 'A' is: 65

## Boolean
can have 2 possible values true or false

In [340]:
b1 = True

In [341]:
b2 = False

In [342]:
print(type(b1))

<class 'bool'>

In [344]:
isinstance(b1, bool)

True

In [347]:
bool(0)

False

In [349]:
bool(1)

True

In [ ]:
bool(None)

# List

holds a collection of items with a specific order

List is an ordered sequence of items

We can have different data types under a list. E.g we can have integer, float and string items in a same list.

Keep in mind that a list is an iterable object which means that you can directly go through it without indices.

In [385]:
# Will both output the same thing

my_list = [1, 2, 3, 4, 5]
for index in range(len(my_list)):
  print("One of the elements of the list is '{}'".format(my_list[index]))

print("---------------------------------")

# we prefer the following in python:
for element in my_list:
  print("One of the elements of the list is '{}'".format(element))

One of the elements of the list is '1'
One of the elements of the list is '2'
One of the elements of the list is '3'
One of the elements of the list is '4'
One of the elements of the list is '5'
---------------------------------
One of the elements of the list is '1'
One of the elements of the list is '2'
One of the elements of the list is '3'
One of the elements of the list is '4'
One of the elements of the list is '5'

### List creation

In [388]:
list1 = []

In [390]:
print(type(list1))

<class 'list'>

In [392]:
# List of integers numbers
list2 = [10,30,60]

In [394]:
# List of float numbers
list3 = [10.77,30.66,60.89]

In [396]:
# List of strings
list4 = ['one','two' , "three"]

In [398]:
# Nested Lists
list5 = ['Asif', 25 ,[50, 100],[150, 90]]

In [400]:
# List of mixed data types
list6 = [100, 'Asif', 17.765]

In [402]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [404]:
len(list6)

3

### List indexing

In [407]:
list2[0]

10

In [411]:
list4[0][0]

'o'

In [413]:
list4[-1]

'three'

In [415]:
list5[-1]

[150, 90]

### List slicing

In [418]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [420]:
mylist[0:3]

['one', 'two', 'three']

In [422]:
mylist[:3]

['one', 'two', 'three']

In [424]:
mylist[-3:]

['six', 'seven', 'eight']

In [426]:
mylist[-1]

'eight'

In [428]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [433]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [435]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [437]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [439]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [441]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [443]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [445]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [447]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [449]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [451]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [455]:
# Delete the whole list
del mylist 
mylist

NameError: name 'mylist' is not defined

### Copy List

In [458]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [460]:
mylist1 = mylist # Create a new reference "mylist1"

In [462]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(140136829866368, 140136829866368)

In [468]:
mylist2 = mylist.copy() # Create a copy of the list

In [470]:
id(mylist2) # The address of mylist2 will be different

140136830037568

In [472]:
mylist[0] = 1

In [474]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven']

In [476]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven']

In [478]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

### Join Lists

In [483]:
list1 = [1, 2, 3]
list2 = [4, 5]
list3 = list1 + list2
list3

[1, 2, 3, 4, 5]

In [487]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 4, 5]

### Reverse a list

In [494]:
list1 = [1, 2, 3, 4, 5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [498]:
list1 = list1[::-1]
list1

[5, 4, 3, 2, 1]

### Sort a list

In [504]:
list1 = [1, 2, 9, 4, 5]
list1.sort()
list1

[1, 2, 4, 5, 9]

In [510]:
list1 = [1, 2, 9, 4, 5]
list1.sort(reverse=True)
list1

[9, 5, 4, 2, 1]

In [512]:
list1 = [1, 2, 9, 4, 5]
# Returns a new sorted list that does not chage the original list
print(sorted(list1))
print(list1)

[1, 2, 4, 5, 9]
[1, 2, 9, 4, 5]

### Count

In [518]:
list1 = [1, 2, 3, 1, 4, 5, 6, 1, 1, 4, 5, 1]
list1.count(1)

5

### All / Any

The all() method returns:
- True - If all elements in a list are true
- False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [523]:
L1 = [1,2,3,4,0]

In [525]:
all(L1)

False

In [527]:
any(L1)

True

### List Comprehensions

- List Comprehensions provide an elegant way to create new lists.
- It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [533]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [535]:
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers betwee
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [537]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [539]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [541]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [543]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensions
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [547]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [549]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

## Tuples

- Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
- When we do not want to change the data over time, tuple is a preferred data type.
- Iterating over the elements of a tuple is faster compared to iterating over a list.

## Tuple Creation

In [553]:
tup1 = ()

In [555]:
tup2 = (10, 30, 60)

In [557]:
# Tuple of mixed data type
tup3 = (100, 'String', 13.45, False)

In [561]:
# Nested tuples
tup4 = ('String', 25 ,(50, 100),(150, 90))

In [563]:
len(tup4)

4

### Tuple Indexing

In [566]:
tup2[0]

10

In [568]:
tup4[2][1]

100

### Tuple Slicing

Similar to list

In [575]:
tuple1 = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' )

In [577]:
tuple1[0:3]

('one', 'two', 'three')

### Remove and Change Items

Tuples are immutable. So you can't change it contents once they are created. Deleting entire tuple object is possible.

In [598]:
tuple1

('one', 'two', 'three', 'four', 'five', 'six')

In [592]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [593]:
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [600]:
# Deleting entire tuple object is possible
del tuple1

In [602]:
tuple1

NameError: name 'tuple1' is not defined

### Count and Membership

same as list

### Index Position

In [608]:
tuple1 = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' )

In [610]:
tuple1.index('six')

5

### Sorting

In [613]:
tuple1 = [4, 5, 8, 5, 2, 3, 1, 9 , 6]

AttributeError: 'tuple' object has no attribute 'sort'